.about{
    align-self: flex-start;
}
.hello{
    font-size: 4.375rem;
}
.profile h1{
    margin: 5px 0;
}
.profile ,.about{
    margin: 0 auto;
    width: 85%;
}

.arrow-right{
    margin-left: 1rem;
    animation: forward;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.menu-logo{
    cursor: pointer;
}
.home-content{
    display: flex;
    align-items: center;
}
@keyframes forward {
    0%{
        margin-left: 1rem;
    }
    100%{
        margin-left: 2rem;
    }
}