.about{
    align-self: flex-start;
}
.hello{
    font-size: 4.375rem;
}
.profile h1{
    margin: 5px 0;
}
.profile ,.about{
    margin: 0 auto;
    width: 85%;
}


.menu-logo{
    cursor: pointer;
}
.home-content{
    display: flex;
    align-items: center;
}
