.content-slate{
    font-weight: bolder;
    color: black;
}
.content-porto .content-slate{
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 300ms ease-in-out , transform 300ms ease-in-out;
}
.content-porto:hover .content-slate{
    opacity: 1;
    transform: translateY(0);
    
}
.content-porto::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.048) 10%, rgba(0, 0, 0, 0.986) 70%);
}
.content-porto:hover::after{
    opacity: 0.3;
}

.curtain-content{
  width: 25em;
  transition: width 0.3s ease-in-out;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.123);
}

.card-animation{
  animation-duration: 1s;
  animation-name: upAnimation;
  animation-fill-mode: both;
}
@keyframes upAnimation{
  0%{
    margin-top: 0 ;
    margin-bottom: 0;
    opacity: 0;
  }
  100%{
    margin-top: 0.5em ;
    margin-bottom: 0.5em;
    opacity: 1;
  }
}

@media screen and (max-width: 576px){
  .curtain-content{
    width: 100%;
    transition: width 0.3s ease-in-out;
  }
}