/* ABout PAge */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
    height: 100vh;
  }
.about{
    width: 75%;
}
.sticky{
    position: fixed;
}
.timeline{
    list-style: none;
    position: relative;
}
.timeline::before{
    content: "";
    background: grey;
    position: absolute;
    left: 0;
    width: 1px;
    top: 9px;
    height: 100%;
}
.timeline li::before{
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    width: 15px;
    margin-top: 9px;
    height: 15px;
}
.timeline.dark li::before{
    border: 2px solid var(--MedPink);
    background: grey;
}
.timeline.light li::before{
    border: 2px solid var(--DarkMossGreen);
    background: rgba(14, 14, 14, 0.815);
}
.list-title{
    font-size: 1.4rem;
}
.link-list-span.light{
    color: var(--LightPink);
    text-decoration: none;
}
.link-list-span.dark{
    color: var(--DarkBlueText);
    text-decoration: none;
}
.link-list-span:hover{
    text-decoration: underline;
}
.title-comp{
    display: flex;
    align-items: center;
}
.title-comp .list-title{
    margin: 0;
}
.logo-link{
    color: black;
    font-size: 1.5rem;
    transition: 0.3s ease;
}
.logo-link:hover{
    color: white;
    
}
.float-right{
    margin-left: auto;
}
.myread-links.dark:hover{
    border-bottom: solid 2px var(--LightPink);
}
.myread-links.light:hover{
    border-bottom: solid 2px var(--DarkBlueText);
}